(<a target="_blank"
   href="https://www.vexels.com/vetores/previsualizar/129578/silhueta-surf-boy">
   surfer svg credit
</a> | Designed by Vexels.com)
<div class="main-container">
   <clr-header>
      <div class="branding">
         <a href="javascript://"
            class="nav-link">
            <clr-icon shape="waveX"></clr-icon>
            <span class="title">WaveX</span>
         </a>
      </div>
      <div class="header-nav"
           [clr-nav-level]="1">
      </div>
   </clr-header>
   <div class="content-container">
      <div class="content-area">
         <my-solution></my-solution>
      </div>
   </div>
</div>
