.amber-alert {
   background-color: #feecb5;
}

.red-alert {
   background-color: #f5dbd9;
}
.alertBox {
   margin-bottom: 18px;
   display: inline-block;
   float: right;
}
.disableFnRow {
   background-color: #EEEEEE;
}
.fnBtn{
   margin: 0px;
}